<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>

  <div id="app">
    <p v-show="toggle">
      Hello
    </p>
    <p>
      <input type="text" v-bind:value="message">
    </p>
    <p>
      {{ message }} aaaaaa
    </p>
    <p>
      {{ count }}
    </p>
    <p>
      {{user.prefecture}}
    </p>
    <p>
      {{ colors[1] }}
    </p>
    <ol>
      <li v-for="color in colors">{{color}}</li>
    </ol>
    <ul>
      <li v-for="value in user">{{ value }}</li>
    </ul>
    <hr>
    <ul>
      <li v-for="(value, key) in user">{{ key }} : {{ value }}</li>
    </ul>
  </div>
  <script src="index.js"></script>
</body>

</html>